.Person {
  width: 18rem;
  margin: 0;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

.teamButtons button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.teamButtons button:first-child {
  margin-right: 5px;

}

.teamButtons button:last-child {
  color: #f1f1f1;

}